html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

#root {
  background-color: #faeb1e;
}
canvas {
  filter: contrast(1.2);
}

#play-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zindex: 1;
  background: transparent;
  border: none;
  height: 66px;
  width: 66px;
  cursor: pointer;
}

#play-button svg {
  fill: #000000;
  transition: 0.12s ease-in-out;
}

#play-button:hover svg {
  fill: #ffffff;
  transition: 0.12s ease-in-out;
}
